/*
// css reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: calc(1em + 0.5rem);
}

img,
picture,
audio,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
