@use "../variables" as *;

.main {
  color: $theme-text;
  background-color: $theme-bg2;
  min-width: 320px;
  & > div {
    max-width: 400px;
  }
}

.screen {
  & output {
    min-height: 65px;
    padding: 10px;
    overflow-wrap: break-word;
  }
  & i {
    cursor: pointer;
  }
  font-size: 1.5rem;
  color: $theme-text;
  background-color: $theme-screen;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.buttons {
  & button {
    width: 65px;
    height: 65px;
    color: $theme-text;
    background-color: $theme-bg2;
  }
  color: $theme-text;
  background-color: $theme-bg;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.history {
  min-height: 200px;
  font-size: 1.5rem;
  color: $theme-text;
  background-color: $theme-screen;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
