@use "../variables" as *;

.main {
  color: $theme-text;
  background-color: $theme-bg2;
}

.screen {
  & output {
    min-height: 80px;
    padding: 10px;
    overflow-wrap: break-word;
    line-height: 1.2;
  }
  color: $theme-text;
  background-color: $theme-screen;
  max-width: 400px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.buttons {
  & button {
    width: 75px;
    height: 75px;
    color: $theme-text;
    background-color: $theme-bg2;
  }
  background-color: $theme-bg;
  max-width: 400px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
